<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- html2canvas library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <!-- jsPDF library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>iEMS Checklist PDF</title>
</head>
<body>
    <div id="contentToPrint">
        <div style="float: right;">
            <img src="./assets/img/logo.png" alt="buildint" style="text-align: right;">
        </div>
        <h5 id="checklist_id" hidden><%=data['site_survey_id']%></h5>
        <h4 style="text-align: center;">CHECKLIST FOR BANK BRANCH iEMS IoT SOLUTION </h4>
        <p id="bname">Branch Name - <%=data['project_name']%> <%=data['city']%></p>
        <p id="bcode">Branch Code - <%=data['branch_code']%></p>
        <p>Branch Address - <%=data['address']%></p>
        <p>Branch Manager Name - <%=data['manager_name']%></p>
        <p>Manager Contact - <%=data['manager']%></p>
        <p>Email ID - <%=data['manager_mail']%></p>
        <p>Site Electrician - <%=data['electrician_name']%></p>
        <p>Site Electrician Contact - <%=data['electrician_contact']%></p>
        <p>Security Guard Name - <%=data['security_guard_name']%></p>
        <p>Security Guard Contact - <%=data['security_guard_contact']%></p>
        <div>
            <table class="table table-bordered">
                <thead>
                  <tr style="text-align: center;">
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Items</th>
                    <th scope="col">Description</th>
                    <th scope="col">Remark</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th style="vertical-align : middle;text-align:center;" scope="row" rowspan="4">1</th>
                    <th style="vertical-align : middle;text-align:center;" rowspan="4">Electrical System</th>
                    <td>Electrical SLD</td>
                    <td><%=data['electrical_sld']%></td>
                  </tr>
                  <tr>
                    <td>Total Numbers of EB Meter</td>
                    <td><%=data['total_eb_meter']%></td>
                  </tr>
                  <tr>
                    <td>Total Number of Panels</td>
                    <td><%=data['total_panels']%></td>
                  </tr>
                  <tr>
                    <td>Others</td>
                    <td><%=data['electrical_others']%></td>
                  </tr>
                  <tr>
                    <th style="vertical-align : middle;text-align:center;" scope="row" rowspan="2">2</th>
                    <th style="vertical-align : middle;text-align:center;" rowspan="2">DG</th>
                    <td>Make</td>
                    <td><%=data['dg_make']%></td>
                  </tr>
                  <tr>
                    <td>Model</td>
                    <td><%=data['dg_model']%></td>
                  </tr>
                  <tr>
                    <th style="vertical-align : middle;text-align:center;" scope="row" rowspan="5">3</th>
                    <th style="vertical-align : middle;text-align:center;" scope="row" rowspan="5">Devices</th>
                    <td>iZion</td>
                    <td><%=data['izion_count']%></td>
                  </tr>
                  <tr>
                    <td>Piazza</td>
                    <td><%=data['piazza_count']%></td>
                  </tr>
                  <tr>
                    <td>Smart Meter</td>
                    <td><%=data['smart_meter_count']%></td>
                  </tr>
                  <tr>
                    <td>Wifi/Hotspot</td>
                    <td><%=data['wifi_hotspot_count']%></td>
                  </tr>
                  <tr>
                    <td>Sim Number Count</td>
                    <td><%=data['sim_number_count']%></td>
                  </tr>
                </tbody>
              </table>
        </div>
        <% hvac = JSON.parse(data['hvac_details']) %>
        <% hvac_count = parseInt(Object.keys(hvac)[Object.keys(hvac).length - 1].split('_')[0].split('-')[1]) %>
        <p><b>HVAC Details</b></p>
        <table class="table table-bordered">
            <thead>
              <tr style="text-align: center;">
                <th scope="col">Area</th>
                <th scope="col">AC Type</th>
                <th scope="col">Make & Model</th>
                <th scope="col">Qty</th>
                <th scope="col">Capacity</th>
                <th scope="col">Communication</th>
              </tr>
            </thead>
            <tbody>
                <% for(i=1;i<=hvac_count;i++){ %>
                <tr>
                    <td><%= hvac['AC-'+i+'_area'] %></td>
                    <td><%= hvac['AC-'+i+'_type'] %></td>
                    <td><%= hvac['AC-'+i+'_brand'] %></td>
                    <td><%= hvac['AC-'+i+'quantity'] %></td>
                    <td><%= hvac['AC-'+i+'_capacity'] %></td>
                    <td><%= hvac['AC-'+i+'_comms'] %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <p><b>Signage</b></p>
        <table class="table table-bordered">
            <thead>
                <tr style="text-align: center;">
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Remarks</th>
                </tr>
                <tbody>
                    <tr>
                        <td></td>
                        <td><%= data['signage_type'] %></td>
                        <td><%= data['signage_status'] %></td>
                        <td><%= data['signage_remarks'] %></td>
                    </tr>
                </tbody>
            </thead>
        </table>

        <p><b>UPS</b></p>
        <table class="table table-bordered">
            <thead>
                <tr style="text-align: center;">
                    <th scope="col">#</th>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Battery Count</th>
                    <th scope="col">Capacity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td><%=data['ups_make']%></td>
                    <td><%=data['ups_model']%></td>
                    <td><%=data['ups_capacity']%></td>
                    <td><%=data['ups_battery_count']%></td>
                    <td><%=data['ups_battery_capacity']%></td>
                </tr>
            </tbody>
        </table>
        

        <h5>Site Images</h5>
        <div id="site_imgs">
            
        </div>
        <h5>Signature</h5>
        <div id="sign_imgs">

        </div>
    </div>
    <button onclick="Convert_HTML_To_PDF()">Convert HTML to PDF</button>
</body>

<script>
    window.jsPDF = window.jspdf.jsPDF;

// Convert HTML content to PDF
function Convert_HTML_To_PDF() {
    var doc = new jsPDF();
	
    // Source HTMLElement or a string containing HTML.
    var elementHTML = document.querySelector("#contentToPrint");
    const date = new Date();
    let day = date.getDate();
    let month = date.getMonth() + 1;
    let year = date.getFullYear();
    let currentDate = `${day}-${month}-${year}`;
    let bname = document.getElementById('bname').innerText
    let bcode = document.getElementById('bcode').innerText
    console.log(bname.split('-')[0], bcode)
    doc.html(elementHTML, {
        callback: function(doc) {
            // Save the PDF
            doc.save('./'+currentDate+'.pdf');
        },
        margin: [10, 10, 10, 10],
        autoPaging: 'text',
        x: 0,
        y: 0,
        width: 190, 
        windowWidth: 675
    });
}

window.onload = function getimg(){
    id = document.getElementById('checklist_id').textContent
    console.log(id)
    fetch("/getdata/site_survey/site_survey_id/"+id)
    .then(response => response.json())
    .then(data =>
    {
      html = ""
      let img_list = data[0]['site_img']
      console.log(img_list)
      if(img_list != 'none'){
        img_list = img_list.split(';')
        for(var i=0; i<=img_list.length-1; i++){
          console.log(img_list[i])
          fetch("/getimage?path="+img_list[i])
          .then(response => response.text())
          .then(result => {
            console.log(result)
            html = '<img style="width: 200px; margin-left:10px;" src="data:image/png;base64,'+result+'" alt="img"+'+i+' />'
            document.getElementById('site_imgs').innerHTML += html
        })
        .catch(error => console.log('error', error));
      }
      }
    })
    .catch(error => console.log('error', error));

    id = document.getElementById('checklist_id').textContent
    console.log(id)
    fetch("/getdata/site_survey/site_survey_id/"+id)
    .then(response => response.json())
    .then(data =>
    {
      html = ""
      let img_list = data[0]['sign_imgs']
      console.log(img_list)
      if(img_list != 'none'){
        img_list = img_list.split(';')
        for(var i=0; i<=img_list.length-1; i++){
          console.log(img_list[i])
          fetch("/getimage?path="+img_list[i])
          .then(response => response.text())
          .then(result => {
            console.log(result)
            html = '<img style="width: 200px; margin-left:10px;" src="data:image/png;base64,'+result+'" alt="img"+'+i+' />'
            document.getElementById('sign_imgs').innerHTML += html
        })
        .catch(error => console.log('error', error));
      }
      }
    })
    .catch(error => console.log('error', error));
}
</script>
</html>